@import url("th.css");

.separator {
	border-top: 3px solid gray; /* 设置上边框 */
	margin-top: 5px;           /* 添加一些上外边距 */
	margin-bottom: 5px;        /* 添加一些下外边距 */
}

.custom-wh {
	width: 200px;
	height: 30px;
}

.top-fix-div {
	position : fixed;
	top : 0;
	width:100%;
    max-height: 200px; /* Set a maximum height */
    height: auto; /* Adjust the height */
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    //overflow-y: auto; /* Enable scrolling if content exceeds max height */
}


.bottom-fix-div{
	position : fixed;
	left : 0;
	bottom: 0;
}

.body{
	//background-image:linear-gradient(to left,#84fab0 0%,#8fd3f4 100%);
	background-image:linear-gradient(to left,#cfd9df 0%,#e2ebf0 100%);
	//background-image:linear-gradient(to left,#fdfbfb 0%,#ebedee 100%);
	//background-image:linear-gradient(to left,#e6e9f0 0%,#eef1f5 100%);
}

button {
	width: 60px;
}
