
.th{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.th_black{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

pre {
     border: 3px solid #9e9e9e; /* 设置边框 */
     padding: 0px; /* 设置内边距 */
}

pre code {
     background-color: #9e9e9e; /* 设置背景色 */
     display: block; /* 让代码块占满整个宽度 */
     white-space: pre; /* 保留空白字符 */
}
