<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUCCANG/GETPUBLIC</title>
	<style>
		@import url("/css/editor.css");
	</style>
</head>
<body id="body" class="th_black">

    <!-- Markdown编辑器容器 -->
	<div class="top-fix-div">
		<a href="/link" style="font-size: 32px;">主页</a><br>
		<div class="separator"></div>
		<label id="title">{{.TITLE}}</label>
		<label id="ctime">{{.CTIME}}</label>
	</div>

	<div style="height:64px;" ></div>

	<div class="center-fix-div">
		<textarea id="editor-inner" class="hide th_black" name="content">{{.CONTENT}}</textarea>
		<div id="md" class="md"></div>
	</div>

	{{ if eq "public" .AUTHTYPE }}
	<button id="comment-show" type="button" onclick="onShowComment()">显示评论</button>
	<div id="comments" class="hide">
			<label>所有评论:</label><br>
			<div class="separator"></div>
			{{range .COMMENTS}}
			<label>{{.MSG}} ({{.IDX}})</label><br>
			<label>commit by {{.OWNER}}({{.MAIL}}) at {{.CTIME}} </label><br>
			<div class="separator"></div>
			{{end}}
	</div>

	<div id="div-comment" class="hide">
			<label>用户名:</label>
			<input id="input-owner" type="text" value="" ><br>
			<label>邮箱:</label>
			<input id="input-mail" type="text" value="" ><br>
			<label>密码:</label>
			<input id="input-pwd" type="password" value="" ><br>
			<label>留言:</label>
			<input id="input-comment" type="text" value="" ><br>
			<button id="commit-comment" type="button" onclick="onCommitComment()">提交评论</button>
	</div>
	<div style="height:32px;"></div>
	{{end}}

	<script src="/js/marked/marked.min.js"></script>
	<script src="/js/editor.js"></script>
	<script src="/js/utils.js"></script>
	<script>

	function onShowComment(){
		var bnt = document.getElementById("comment-show")
		var comments = document.getElementById("comments")
		var div_comment =  document.getElementById("div-comment")
		var bntName = bnt.innerText
		if (bntName=="显示评论"){ 
			// 显示editor和md页面
			comments.setAttribute("class", ""); 
			div_comment.setAttribute("class","")
			bnt.innerText = "折叠评论"
		}else{
			// 隐藏editor显示md
			comments.setAttribute("class", "hide"); 
			div_comment.setAttribute("class","hide")
			bnt.innerText = "显示评论"
		}
	}




	window.onload = function(){
		// 获取textarea元素
		var textarea = document.getElementById('editor-inner');
		// md渲染
		mdRender(textarea.value)
		// 时间-black
		checkTime()
	}

	</script>

</body>
</html>
