<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> GUCCNAG/LIST </title>
	    <script src="/js/theme.js?v=1"></script>
    <link rel="stylesheet" href="/css/theme.css?v=1">
</head>

	<body>
		<h1> List of Items </h1>
		<ul>
			{{range .Items}}
			<li>{{.}}</li>
			{{end}}
		</ul>
	</body>
</html>
